#navbar {
    overflow: hidden;
    background-color: #333;
    opacity: 0.6;
    
  }
  
  /* Navbar links */
  #navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
 #navbar a:link {
    columns: #f2f2f2;
}

/* visited link */
#navbar a:visited {
    columns: #f2f2f2;;
}

/* mouse over link */
#navbar a:hover {
    color:rgb(240, 102, 22);
}



  
  /* Page content */
  .content {
    padding: 16px;
  }

  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }
